include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./lending_club/*

include lending_club/datasets/lending_club_selected_features_train.csv
include lending_club/datasets/lending_club_selected_features_test.csv
include lending_club/trained_models/*.pkl
include lending_club/VERSION
include ./requirements.txt

exclude *.log
exclude *.ipynb

recursive-exclude * __pycache__
recursive-exclude * *.py[co]